.followButton {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  font-size: 15px;
  font-weight: 650;
  letter-spacing: 1px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #c50000;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.followButton:hover {
  opacity: 0.8;
}
